*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.blanc {
    background: #ffffff;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 20px;
    margin-left: 30px;
}

.bb {
    display: inherit;
    justify-content: center;
    align-items: center;
    background: none ;
    color: white;
    border: 1px solid white;
    width: 310px;
    margin-bottom: 30px;
}

.count {
    display: flex;
    flex-direction: column;
    line-height: 10px;
    font-size: 32px;
}

.count>div {
    font-weight: bold;
}

.count>div>span {
    opacity: 35%;
}

.D-btn {
    width: 125px;
    height: 125px;
    background: url(./images/SURFACE.jpg) no-repeat center/cover;
    border-radius: 10px;
    display: flex;
}

.D-btn>button {
    background: rgba(0, 0, 0, 0.5);
    height: fit-content;
    align-self: flex-end;
    margin: 5px;
    border: 0.5px solid white;
    border-radius: 10px;
    color: white;
    padding: 3px 10px;
}


.tt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



.paul {
    background: url(./images/fauteuil.jpg) no-repeat center center/cover;
    border-radius: 15px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.paul1 {
    display: grid;
    grid-template-rows: auto auto auto;
    gap:20px;
}



.p-container1 {
    margin-top: 30px;
}

.p-container1>.div1 {
    display: flex;
    justify-content: space-between;
    gap: 25px;

}

.verif-i {
    width: 25px;

}



.N-V {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px;
}

#stat {
    background: #EFEDF0;
    margin-top: 10px;
    padding: 10px 5px;
    line-height: 30px;
    border-radius: 10px;
}

.reseau-i {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    text-align: center;
    margin-top: 10px;

}

.reseau-i>div {
    border: 1px solid #605E61;
    border-radius: 15px;
}

.icône {
    width: 20px;
    height: 20px;
    padding-top: 7px;
}

.p-container2, .bb {
    display: flex;
    height:fit-content;
    padding: 10px 15px;

}

.p-container2>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.p-container2>img {
    width: 70px;
    border-radius: 5px;
    margin-right: 5px;
}

.val {
    text-align: right;
    margin-left: 25px;
    
}


.paul2 {
    color: white;
    margin: 30px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.p2-container1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.ho {
    display: flex;
    justify-content: space-between;
}

.lang {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    padding:5px;
}

.J-btn {
    display: flex;
    gap: 5px;
    background: #995F39;
    width: fit-content;
    height: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}

.J-btn>button {
    background: none;
    color: white;
    border: none;
}

.J-btn>img {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.p2-container2 {
    display: flex;
    margin: 15px 0px
}

.p2-container2>img {
    width: 35px;
    height: 35px;
    padding: 2px;
    border-radius: 50%;
    border: 2px dashed #605E61
}

.Desc {
    text-align: right;
    padding-left: 30px;
}

.toPremium {
    display: flex;
    justify-content: space-between;
}


.toPremium>div>button {
    background: none;
    color: white;
    border: 1px Solid white;
    border-radius: 15px;
    padding: 5px 35px;

}







*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: #fff;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.barner {
    display: flex;
    max-width: 2500px;
    gap: 30px;
    max-height: 100%;
    width: 1300px;

  


}

.barner-left, .barner-right{
    flex: 1;
  
}

.barner-left h1 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 40px;
}

 .barner-left p {

    font-size: 12px;
    font-weight: 600;
    color: black;
    margin-top: 20px;
}

.video-play{
    position: relative;
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-top: 100px;

}

.video-play img {
    border-radius: 12px;
    width: 150%;


    

}
.video-play>button{
    padding: 4px 10px;
    background:black;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    border: none;
    gap: 15px;
    height: fit-content;
    letter-spacing: 5px;
    transform: translate(40%);
    position: relative;
    top: 12px;
    

}

.play-icon {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%);
    color: white;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
   
   
}
.barner-right .item {
  
    padding: 10px 0px;
    
    background: #FFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #a9a9a9;
    


}

.barner-right .item img {
    width: 200px;
    border-radius: 10px
}

.barner-right .item p {
    font-size: 16px;
    font-weight: 600;
    margin: 20;
    line-height: 20px;
    
}

.barner-right .item button{
    padding: 6px 12px;
    border: nono;
    background:white;
    color: black;
    border-radius: 20px;
    cursor: pointer;

}

.menu{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 2px solid #a9a9a9;
    display: flex;
    align-items: end; 
}



.learn-more{
    margin-top: 20px;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: 600;
   transform: translateX(380%); 
   line-height: 20px;
   width: 130px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    
}

.learn-more>img {
    width: 15px;
    height: 15px;
}

.menu img{
   width: 5%;
   height: 200%;
   object-fit: cover;
   justify-content: space-between;
   cursor: pointer;
}
span{
    color: #a9a9a9;
}
